<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!--zawartość sekcji konfiguracyjnej Unity-->
    <namespace name="myUnity"/>
    <assembly name="myUnity"/>
    <alias alias="ILogger" type="myUnity.ILogger, myUnity"/>
    <alias alias="Logger" type="myUnity.Logger, myUnity"/>
    <container>
      <register type="ILogger" mapTo="Logger"/>
    </container>
  </unity>
</configuration>